<%= form_with(model: department, local: true) do |form| %>
  <% department.errors.full_messages.each do |error| %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% end %>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :name, "Nome" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
