<!DOCTYPE html>
<html>
  <head>
    <title>Loja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: 'Loja', brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Adicionar produto", new_product_path %>
        <%= menu_item "Departamentos", departments_path %>
      <% end %>

      <%= form_tag search_products_path, method: :get, class: "navbar-form navbar-right" do %>
        <div class="form-group">
          <%= text_field_tag :name, @name, class: "form-control" %>
          <%= button_to "Buscar", nil, class: "btn btn-default" %>
        </div>
      <% end %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
